.container {
   padding-top: 80px;
}

.loading {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: white;
   opacity: 0.5;
   z-index: 10;
   display: flex;
   align-items: center;
   justify-content: center;
}
